div{
	display: inline-block;
	background-color: #222;
	width: 100px;
	height: 100px;
	margin: 5px;
    border-radius: 100%;
    transition: .2s;
}
div:active{
    width: 85px;
    height: 85px;
}
div:hover{
    opacity: 1.5;
}
html{
    background: #111;
}
audio{
	display: none;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
h1{
    font: 2.8em Open Sans, Impact;
    color: white;
    text-transform: uppercase;
}
h2{
    font: 1em Open Sans, Impact;
    color: white;
}

/*#2fc1ce
#ffb300
#ff1280
#ca8dc9
#f9ec00
#6f369d*/